* {
    margin: 0px;
    padding: 0px;
}

.img-logo {
    height: 50px;
    width: 50px;
    /* float: left; */
}

.navbar-brand {
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    color: green;

}

.carousel-inner {
    height: 300px;
    width: 100%;
}

.dropdown-menu {
    font-weight: bold;
}

/* .container-fluid {
    background-color: rgba(161, 214, 179, 0.788);

} */

#lft {

    margin-left: 500px;
}

.carousel-fluid {

    margin-left: 0%;
    margin-right: 0px;
}

.nav-item {
    font-size: medium;
    font-weight: bold;
}

.col_1 {
    margin: 0;
    padding: 0;
}

#intro-cards {
    margin-top: 20px;

}

#pp {
    margin-top: 0px;
    margin-bottom: 0px;
    height: 100px;
}

#nn {
    margin-top: 0px;
    margin-bottom: 0px;
}

nav {
    height: 60px;
}

.card {
    background-color: aquamarine;
}

#slide-lablez {
    font-size: larger;
    font-weight: bold;
    font-style: italic;
    text-align: left;
}

#right-slide-label {
    font-size: larger;
    font-weight: bold;
    font-style: italic;
    text-align: right;
    margin-left: 200px;
}
.container-left {
 height: 70%;
 width: 150px;
 display: flex;
 float: left;   
 margin-left: 20px;
 margin-top: 20px;
 font-size: large;
 font-family: Georgia, 'Times New Roman', Times, serif;
 font-weight: bold;
 font-style: italic;
 text-decoration: none;
 color: black;
}
.container-center {
    margin-top: 20px;
    width:1000px;
}